
 header {
  display: flex;
  line-height: 30px;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  border-bottom: 3px solid rgb(47, 82, 85);
}

header a {
  text-transform: uppercase;
 
  color: rgb(182, 103, 0);
 font-weight: 800;
}

header ul li {
  display: inline-block;
  opacity: 0.7;
  padding: 10px;
}
header ul li:hover {
  opacity: 1;
}
.menu {
  display: none;
}
.logo {
  flex: 1;
  margin-left: 3%;
}

.cart-icon {
  position: relative;
  padding: auto;
}

.cart-icon span {
  position: absolute;
  top: -11px;
  right: 2px;
  padding: 4px 5px;
  background: transparent;
  color: silver;
}  




/* header{
  min-width: 70px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid rgb(47, 82, 85);
  
}
header .logo{
  flex: 1;
}

header a {
  text-transform: uppercase;
 
  color: rgb(182, 103, 0);
 font-weight: 800;
}

header ul li {
  display: inline-block;
  opacity: 0.7;
  padding: 0 20px;
}

header ul li:hover {
  opacity: 1;
}
.menu {
  display: none;
}
.cart-icon {
  position: relative;
  padding: auto;
}

.cart-icon span {
  position: absolute;
  top: -11px;
  right: 2px;
  padding: 4px 5px;
  background: transparent;
  color: silver;
}  

.logo {
  flex: 1;
  margin-left: 3%;
}
 */
